body {
    text-align: center;
    /* display: flex; */
    justify-content: center;
    margin: 0px;
}

#color{
    height: 100px;
    width: 500px;
    border: 10px solid black;
    margin: 5rem auto;
}

.nav{
    display: flex;
    background-color: rgb(194, 131, 219);
    padding: 1rem;
}

i{
    margin-left: 2rem;
    height: 4rem;
    width: 4rem;
}