body {
    background-color: #121212;
    color: azure;
}

table {
    border: 2px solid white;
}

h1{
    font-size: 3rem;
}

img{
    border-radius: 100%;
    box-shadow: 4px 2px rgba(14, 12, 12, 0.66);
    height: 13rem;
    width: 12rem;
    margin-left: 38rem;
    margin-top: 3rem;
}

.options{
    display: inline;
    margin-left: 3rem;
    font-size: 1.5rem;
}

.navigations{
    display: inline-block;
}

i{
    color: aliceblue;
    margin-left: 10rem;
}

.nav{
    margin-top: 2rem;
}

#name{
    margin-left: 40rem;
}