body {
    background-color: #121212;
    color: azure;
}

table {
    border: 2px solid white;
}

h1{
    font-size: 3rem;
}

img{
    border-radius: 100%;
    box-shadow: 4px 2px rgba(14, 12, 12, 0.56);
    height: 7rem;
    width: 6rem;
}

.options{
    display: inline;
    margin-left: 3rem;
}

.navigations{
    display: inline-block;
}

i{
    color: aliceblue;
    margin-left: 10rem;
}

.nav{
    top margin: 3rem;
    
}

